@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
 
    
    color: rgb(214, 0, 0);
    background-color: black;
     justify-content: center;
     align-items: center;
     gap: 20px;
    
    
}
.cartas {
    justify-content: center;
    align-items: center;
    gap: 20px;
   

}
.container,.container2,.container3,.card1,.card2,.card3,.card4{
position: relative;
width: 150px;
height: 210px;

}

.container:hover .flip,.container2:hover .flip2,.container3:hover .flip3,.card1:hover .flip4,.card2:hover .flip5,.card3:hover .flip6,.card4:hover .flip7{
    transform: rotateY(180deg);
   
}


.flip,.flip2,.flip3,.flip4,.flip5,.flip6,.flip7{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .8s;
}

.frente,.verso,.frente2,.verso2,.frente3,.verso3,.frente4,.verso4,.frente5,.verso5,.frente6,.verso6,.frente7,.verso7{
position: absolute;
width: 100%;
height: 100%;
border-radius: 10px;
box-shadow: 0px 0px 10px rgb(255, 255, 255);
backface-visibility: hidden;
}
.frente{
    background-image: url(../../cards/buff\ atk\ verso.jpg);
    background-size: cover;
}



.verso{
    background-image: url(../../cards/buff\ atk.png);
    transform: rotateY(180deg);
}


.frente2{
    background-image: url(../../cards/buff\ defesa\ vers.png);
    background-size: cover;
}



.verso2{
    background-image: url(../../cards/Buff\ defesa.png);
    transform: rotateY(180deg);
}




.frente3{
    background-image: url(../../cards/buff\ equi\ verso.png);
    background-size: cover;
}

.verso3{
    background-image: url(../../cards/buff\ equi.png);
    transform: rotateY(180deg);
}


.frente4{
    background-image: url(../../cards/card\ atk\ verso.png);
    background-size: cover;
}

.verso4{
    background-image: url(../../cards/card\ atk.png);
    transform: rotateY(180deg);
}


.frente5{
    background-image: url(../../cards/card\ def\ verso.png);
    background-size: cover;
}

.verso5{
    background-image: url(../../cards/card\ def.png);
    transform: rotateY(180deg);
}
.frente6{
    background-image: url(../../cards/D20Atk\ verso.png);
    background-size: cover;
}

.verso6{
    background-image: url(../../cards/D20Atk.png);
    transform: rotateY(180deg);
}
.frente7{
    background-image: url(../../cards/D20Atk\ verso.png);
    background-size: cover;
}

.verso7{
    background-image: url(../../cards/D20Def.png);
    transform: rotateY(180deg);
}


.btn{       text-align: center; 
  margin-top: 50vb;
  margin-left: 300px;
  border-radius: 10px;
  font-size: 24px;
  padding: 20px 40px;
  background-image: linear-gradient(45deg,blue,red);
  color: rgb(0, 64, 119);
  border: none;
  cursor: pointer;
}
@keyframes pulo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.btn:hover{
    animation-name: pulo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.texto{
    text-align: center;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(45deg,blue,red,blue);
    background-size: 400% 100%  ;
    animation:animarTexto 10s linear infinite alternate  ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

@keyframes animarTexto{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }

}




